.card {
  background: linear-gradient(
    225deg,
    rgba(238, 174, 202, 0.835) 0%,

    rgba(170, 201, 221, 0.839) 100%
  );
  font-weight: bolder;

  backdrop-filter: blur(5px);
  color: #635239;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 250px;
  transition: background-color 0.3s ease;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(233, 76, 239, 0.3);
}

.card:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  background: linear-gradient(
    225deg,
    rgb(233, 139, 178) 0%,

    rgb(151, 192, 220) 100%
  );
}
.img {
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
  width: 100%;
  border-radius: 16px;
}

.attributes {
  margin: 0;
  letter-spacing: 0.5px;
  text-decoration: none;
}
