.filters {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}
.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
