html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.filters {
  display: flex;
  justify-content: space-around;
}
.searchBar {
  align-self: center;
}
.searchBarContainer {
  display: flex;
  justify-content: center;
}
