.a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a:hover {
  background-color: #f1f1f1;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
}
