.mainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  border-radius: 0px;
  backdrop-filter: blur(7px);
}

.item {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #635239;
  padding: 1rem 2rem;
  cursor: pointer;

  text-decoration: none;
  transition: background-color 0.3s ease;
  background: #d087d0;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(62, 62, 47, 0.1);
}

.item:hover {
  background-color: #d961d9;
}
